<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>E commerce</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section id="header">
        <a href="#"><img src="" class="logo" alt=""></a>
          <h1>M 4 MEN</h1>
          <ul id="navbar">
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </h1<>
      </section>
          <section id="hero">
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p>Save more with coupons and up to 70% off!</p>
            <button>Shop Now</button>
          </section>
       <section id="feature" class="section-p1">
        <div class="fe-box">
          <img src="images/features/f1.png" alt="">
          <h6>free shipping</h6>
        </div>
        <div class="fe-box">
          <img src="images/features/f1.png" alt="">
          <h6>online order</h6>
        </div>
        <div class="fe-box">
          <img src="images/features/f1.png" alt="">
          <h6>save money</h6>
        </div>
        <div class="fe-box">
          <img src="images/features/f1.png" alt="">
          <h6>promotions</h6>
        </div>
        <div class="fe-box">
          <img src="images/features/f1.png" alt="">
          <h6>happy sell</h6>
        </div>
        <div class="fe-box">
          <img src="images/features/f1.png" alt="">
          <h6>24/7 support</h6>
        </div>
       </section>
        <section id="product1" class="section-p1">
          <h2>Featured Products</h2>
          <p>Summer Collection new Morden Design</p>
          <div class="pro-container">
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
          </div>
        </section>
        <section id="banner" class="section-m1">
          <h4>Repair Services</h4>
          <h2>Up To<span>70% of</span>All t-shirts & accessories</h2>
           <button class="normal">Explore More</button>          
        </section>
        <section id="product1" class="section-p1">
          <h2>New Arrivals</h2>
          <p>Summer Collection new Morden Design</p>
          <div class="pro-container">
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
            <div class="pro">
              <img src="images/products/f1.jpg" alt="">
              <div class="des">
                <span>adidas</span>
                <h5>Shirt 1</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>50$</h4>
              </div>
              <a href="#"><i class="fas fa-cart-shopping"></i></a>
            </div>
          </div>
        </section>
        <section id="sm-banner" class="section-p1">
         <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy1 get 1 free</h2>
            <span>The best Classic dress is on sale at M4 men</span> 
            <button>Learn More</button>
         </div> 
        </section>
       <script src="script.js">
        
       </script> 
  </body>
</html>
